# Node modules
/node_modules/

# build info de TypeScript
*.tsbuildinfo

# Archivos de log de npm y logs en general
npm-debug.log*
pnpm-debug.log*
*.log

# Los .env 
.env
.env.*.local
.env.local

# pnpm store
/.pnpm-store/

# Especifico de npm
/.npm

# Especificos del IDE
/.vscode-test/
/.vscode/

# Especifico de macOS
.DS_Store

# Archivo de la asignatura
iv.yaml