name: Build and Push Docker Image

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Construimos la imagen localmente para poder testearla primero
      - name: Build local image
        run: docker build -t temp_test_image .

      # Probamos la imagen con usuario 1001 y volumen
      - name: Run tests
        run: docker run -u 1001 -v ${{ github.workspace }}:/app/test temp_test_image

      # Si los tests pasan, nos logueamos y subimos la imagen final
      - name: Login to Docker Hub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: gosema/${{ github.event.repository.name }}:latest
